{{#partial "content"}}

<h1>WELCOME TO HERO SQUARD WEBSITE</h1><br><br><br><br>
<p>You are allowed to create hero and squad you like!!!!</p>

<p>If you want to create Hero click <a class="btns" href="/hero-form" >here</a></p>
<p> Inorder to create Squad click <a class="btns" href="/squad-form" >here</a></p>
{{/partial}}
{{> layout.hbs}}





