{{#partial "content"}}

<h1>WELCOME TO HERO SQUARD WEBSITE</h1><br><br><br><br>


<p>“I believe there’s a hero in all of us, that keeps us honest, gives us strength, makes us noble, and finally allows us to die with pride.
    Even though sometimes we have to be steady, and give up the thing we want most. Even our dreams.” – Aunt May</p>
<h1>You are allowed to create hero and squad you like!!!!</h1><br><br>

<p>If you want to create Hero click <a class="btns" href="/hero-form" >here</a></p>
<p> Inorder to create Squad click <a class="btns" href="/squad-form" >here</a></p>
{{/partial}}
{{> layout.hbs}}





