{{#partial "content"}}
    <section class="landing-pg">
        <div class="land-left"></div>
        <div class="land-right"></div>
        <form class="form" action="/new/hero" method="post">
            <h1>Create Your Own Hero Please!!!</h1><br><br><br>

            <div class="form"><input type="text" placeholder="Hero's name" name="name" required class="form-control"></div><br><br>
            <div class="form"><input type="number" placeholder="Hero's age" name="age" required class="form-control"></div><br><br>
            <div class="form"><input type="text" placeholder="Hero's special powers" name="power" required class="form-control"></div><br><br>
            <div class="form"><input type="text" placeholder="Hero's weakness" name="weakness" required class="form-control"></div>

            <center> <input class="btns" type="submit"></center>
        </form>
    </section>
{{/partial}}
{{> layout.hbs}}