{{#partial "content"}}
    <section class="landing-pg">
        <div class="land-left"></div>
        <div class="land-right"></div>
        <form class="form" action="/squad/new" method="post">
            <h1>Create Your Squad</h1>
            <br><br><br>

           <div class="form">

                <label for="name" class="p">Enter Squad name</label> <br><br> <input type="text" placeholder="Enter the squad name" name="squadName"  required>

            </div>
            <div class="form">
                <label for="name" class="p">Enter Size</label> <br> <br><input type="number" placeholder="Enter the max size" name="size"    required>

            </div>
            <div class="form">
                <label for="name" class="p">Reason</label><br> <br> <input type="text" placeholder="Enter your reason" name="cause"    required>

            </div>
            <center>  <input type="submit" class="btns"></center>
        </form>
    </section>
{{/partial}}
{{> layout.hbs}}