{{#partial "content"}}

    <style>
    h2{color:black;
    text-align:center;}


    </style>

    <section class="pg">

            <h2> <span>{{ item }} </span>
                <br> you have been created successfully on our list <img src="https://cdn.shopify.com/s/files/1/0249/5892/6941/products/Nike-Swoosh-Logo-Iron-On-Black_1200x1200.jpg?v=1585837119" width="80"><br>{{sqId}}</h2>

        <center> <a class="btn" href="/hero">View Created Heroes</a></center><br><br>
        <center><a class="btn" href="/squad">View Available Squads</a></center><br>
        <center>  <br> <a class="btn" href="/">Back on Home</a></center>
    </section>
{{/partial}}
{{> layout.hbs}}