{{#partial "content"}}
    <section class="landing-pg">
        <div class="land-left">
        </div>
        <div class="land-right">
        </div>

        <div class="success">
            {{ item }}
            <h2>Success <br>  <span>{{ item }} </span>
                <br> Has been created successfully on our list <br>{{sqId}}</h2>

            <a class="btns btn-green" href="/hero">View Created Heroes</a>
            <a class="btns btn-green" href="/squad">View Available Squads</a>
        </div>
    </section>
{{/partial}}
{{> layout.hbs}}